@media screen and (max-width: 600px) and (min-width: 250px) {
    .swiper-wrapper {
        height: 400px !important;
        width: 100% !important;
    }

    .swiper-slide {
        width: 100% !important;
    }
}